name: SpringBoot Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
      Checkout:
       name: Checkout
       runs-on: ubuntu-latest
       steps:
          - name: Checkout Repository
            uses: actions/checkout@v4
