name: SpringBoot Pipeline

on:
  push:
    branches: [ "feature4" ]
  pull_request:
    branches: [ "feature4" ]

jobs:
      Checkout:
       name: Checkout
       runs-on: ubuntu-latest
       steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

      
      Pre-build:
        name: Pre-Build 
        runs-on: ubuntu-latest
        needs: Checkout
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4
          - name: Set up JDK 17
            uses: actions/setup-java@v4
            with:
                 java-version: '17'
                 distribution: 'temurin'
          - name: Run Maven Lint Check
            run: mvn clean comiple


